*, ::after, ::before {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    background-color: #fff;
    display: block;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;

}
#contact .col-cont{
    position: relative;
    width: 100%;
    animation: cont 3s 1;
}
#contact .info {
    padding: 30px;
    width: 100%;
    background: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
#contact .info i {
    font-size: 20px;
    color: #1bac91;
    float: left;
    width: 44px;
    height: 44px;
    background: #e1f0ee;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}
#contact .info h4 {
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #21413c;
}
#contact .info p {
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #43857a;
}
#contact .info .address:hover i{
    background-color:#1bac91;
    color: #fff; 
}
#contact .info .email:hover i{
    background-color:#1bac91;
    color: #fff; 
}
#contact .info .phone:hover i{
    background-color:#1bac91;
    color: #fff; 
}

@media(max-width: 500px){
    #contact .cont-steps{
        margin-right: 0;
        margin-left: 0;
       
    }
}
#contact .row-mt {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 4%;
}
#contact .col-mt{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
#contact .php-email-form {
    width: 100%;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}
#contact .form-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
    animation: form 3s 1;
}
.form-row-mt>[class*=col-mt] {
    padding-right: 5px;
    padding-left: 5px;
}
#contact .php-email-form input{
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    color: #444444;
}
.form-control {
    display: block;
    width: 100%;
    padding:.375rem .75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#contact .php-email-form .col-md{
    padding-bottom: 2%;
    padding-right: 5px;
    margin-left: 5px;
    width: 49.51%;

}

@media(max-width: 600px){
      #contact .php-email-form .col-md{
        width: 100%;
      }
}
#contact .php-email-form .form-group{
     padding-bottom: 2%;
}
#contact .php-email-form input {
    height: 44px;
}
input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    appearance: textfield;
    -webkit-rtl-ordering: logical;
    cursor: text;
    font: 400 13.3333px Arial;
}
#contact .php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
}
#contact .php-email-form .loading {
    background: #fff;
    text-align: center;
    padding: 15px;
}
#contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}
#contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}
.text-center {
    text-align: center!important;
}
#contact .php-email-form button[type="submit"] {
    background: #1bac91;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
}
#contact .php-email-form button[type="submit"]:hover{
    background-color: #00ffff;
}
#contact .php-email-form button:active{
    border:1px solid #000;
}
#footer {
    background: black;
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 14px;
}
#footer .footer-top {
    background: #0c1817;
    padding: 60px 0 0 0;
}
 .row-foot{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
 .col-foot{
     display: inline-flex;
    margin-right: -15px;
    margin-left: -15px;
    padding-bottom: 30px;    
}
@media(max-width: 1000px){
    .col-foot{
        display: inline-block;
    }
}
#footer .footer-top .footer-info {
    margin-bottom: 30px;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 2%;
}
#footer .footer-top .footer-info h3 {
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
}
#footer .footer-top .footer-info p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #fff;
}
#footer .footer-top .mt-3 a {
    font-size: 18px;
    display: inline-block;
    background: #1c3733;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}
.mt-3{
    margin-top: 1rem!important;

}
#footer .footer-top .mt-3 a:hover{
    background-color: #1bac91;
} 
.mt-6{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
#footer .footer-top .mt-6 h4 {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    position: relative;
    padding-bottom: 12px;
}
#footer .footer-top .mt-6 ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#footer .footer-top .mt-6 ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}
#footer .footer-top .mt-6 ul i {
    padding-right: 2px;
    color: #4ae3c6;
    font-size: 18px;
    line-height: 1;
}
#footer .footer-top .mt-6 ul  a {
    color: #fff;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
    font-family: "Raleway", sans-serif;
}
#footer .footer-top .mt-6 ul  a:hover{
    color: #4ae3c6;
}
#footer .footer-top .mt-6{
    
    font-family: "Raleway", sans-serif;
}
#footer .footer-top .mt-6 p{
    color: #fff;
    font-family: "Raleway", sans-serif;
}
#footer .footer-top .mt-6 form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 4px 0 0 4px;
}
#footer .footer-top .mt-6 form input[type="email"] {
    border: 0;
    padding: 4px;
    width: calc(100% - 110px);
}
#footer .footer-top .mt-6 form input[type="submit"] {
    position: absolute;
    top: 0;
    right: -4px;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #1bac91;
    color: #fff;
    transition: 0.3s;
    border-radius: 0 4px 4px 0;
}
.foot {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    font-family: "Raleway", sans-serif;
    background-color: #000;
    border-top:1px solid #18302c;;
}
#footer .copyright {
    text-align: center;
    padding-top: 30px;
}
strong {
    font-weight: bolder;
}
#footer .credits {
    padding-top: 10px;
    text-align: center;
    font-size: 13px;
    color: #fff;
}
#footer .credits a{
    color: #1bac91;
}
.gotopbtn{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 20px;
    background: #4ae3c6;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 22px;



}